vendor/
node_modules/
npm-debug.log
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json
/node_modules
/.idea
.DS_Store
.php_cs.cache
.npm-debug.log
.yarn-error.log
.phpunit.result.cache

