// Colours
$body-bg: rgb(245, 248, 250);
$secondary-color: rgb(255, 185, 0);
$dark-color: rgb(47, 48, 80);
$primary: rgb(255, 78, 0);

// Typography
@import url('https://fonts.googleapis.com/css?family=Poppins');
$font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$font-weight-base: 400;
$font-size-base: 1rem;
$line-height-base: 1.6;
